@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Delete wrong mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EFCoreToDo.Models.Mark

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Mark </h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="MarkId" />
    <div class="form-horizontal">
        <div class="form-group">
            <label>Please confirm to delete Mark</label>
            <div class="col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>







