@{
    ViewBag.Title = "Edit Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EFCoreToDo.Models.Mark

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Mark</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Mark</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MarkId" />
        <div class="form-group">
            <label asp-for="CC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DS" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DS" class="form-control" />
                <span asp-validation-for="DS" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Exam" class="form-control" />
                <span asp-validation-for="Exam" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>







