@{
    ViewBag.Title = "Modification__Classe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EFCoreToDo.Models.Classs

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Classes</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClasssId" />

     


        <div class="form-group">
            <label asp-for="NbreEtudiants" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NbreEtudiants" class="form-control" />
                <span asp-validation-for="NbreEtudiants" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Speciality" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group">
            <label asp-for="ClasseName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClasseName" class="form-control" />
                <span asp-validation-for="ClasseName" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Level" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>








