@{
    ViewBag.Title = "GetSubjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<EFCoreToDo.Models.Subject>




<h2>GetSubjects</h2>
<!DOCTYPE html>

 

    <h1> Forum subjects </h1>
<tabe>
    <div class="post">

        <p>
            Description

        </p>

        <tr>
            <th>  Title </th>
            <th>  Content </th>
            <th>  Publication Date </th>

            <th></th>
        </tr>

    </div>

    @foreach (var subjectIt in Model)
    {


        <tr>
            <td>@Html.DisplayFor(subject => subjectIt.Title)</td>
            <td>@Html.DisplayFor(subject => subjectIt.Content)</td>
            <td>@Html.DisplayFor(subject => subjectIt.Publication_Date)</td>
        </tr>

    }


    

</tabe>